<div class="main-container">
  <div class="left-content">
    <div class="eaten-pieces-container"></div>
    <div class="eaten-pieces-container"></div>
  </div>
  <div class="board-content">
    <div *ngFor="let _ of this.boardArrayLength; index as i" class="line">
      <div
        *ngFor="let _ of this.boardArrayLength; index as j"
        class="box"
        [ngClass]="i % 2 === j % 2 ? 'odd' : 'even'"
        (click)="this.resetPlayerActions($event)"
      ></div>
    </div>

    <ng-container *ngFor="let piece of this.board.piecesInGame">
      <img
        [src]="piece?.imageUrl"
        alt="oof"
        [ngStyle]="{
          top: this.translateChessYPosToPx(piece?.pos?.y),
          left: this.translateChessXPosToPx(piece?.pos?.x)
        }"
        class="board-piece-image"
        (click)="this.openMovesFrom($event, piece)"
      />
    </ng-container>

    <ng-container *ngFor="let move of this.movesToArray()">
      <div
        class="board-move"
        [ngStyle]="{
          top: this.translateChessYPosToPx(move?.y),
          left: this.translateChessXPosToPx(move?.x)
        }"
      ></div>
    </ng-container>
  </div>
  <div class="right-content">
    <div class="history"></div>
  </div>
</div>
